/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* BODY */

body{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#f4eee8;
    font-family: 'Montserrat', sans-serif;
   
}

/* HEADER Y NAV  */

header{
    width: 100%;
}

.navbar-dark{

    color: #325288;
}


nav{
    background-color: #325288;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

nav img{
    width: 100px;
    height: auto;
    display: flex;
    align-self: center;
    justify-content: space-around;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul{
    width: 60vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
}


nav ul a{
    color: #f5cebe;

}
.itemList{
    font-weight: bolder;
}

/* Animacion menu Nav */
/* Estoy considerando poner Scale en vez de skew */
.itemList:hover{
    transform:skew(20deg);
    background-color: goldenrod;
    color: red;
    opacity: 50%;
    
}  


.subMenu ul{
    list-style: none;
    font-size: 0;
}

.subMenu li{
    display: inline-block;
    width: 25%;
    position: relative;
    font-size: 14em;
    color: #f5cebe;
  
}



.subMenu ul ul{
    position: absolute;
    display: none;
}

.subMenu ul ul li{
    display: block;
    
}

.subMenu ul li:hover ul{
    display: block;
    color: #f5cebe;
    background-color: #315288;
    width: fit-content;

}


/* Titulo  */

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:4em;
    color: #325288;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom:solid 4px;

}



h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size:3em; /* despues lo modifico a la unidad que corresponde, sino siempre me queda definido y no depende del tamaño*/
    text-align: center;
    color: darkcyan;
    letter-spacing: 4px;
}

/* Animación del h2 del index */
.hashtag{
    animation-duration: 2s;
    animation-name: blink;
    animation-iteration-count: infinite;
}

@keyframes blink{
    0% {
        opacity:0;
    }
    100%{
        opacity:1;
    }
}


.divWhoWeAre__subtitle{
	background-color: #114e60;
    color: white;
    text-transform: capitalize;
    text-decoration:solid;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;

}

h3{
    background-color: #114e60;
    color: white;
    text-transform: capitalize;
    text-decoration:solid;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
}

h4{
    color: darkcyan;
    word-spacing: 4px;
}

/* Oportunamente sera reemplazado */
/* .divCarrousel{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: solid 2px;
}
.divCarrousel img{
    width: 100%;
    margin-bottom: 30px;
}
 */
/* Grid oportunamente será reemplazado por Cards */
.gridQuote{
    margin-top: 30px;
    display: grid;
    grid-template-areas:
    "gridTitle gridTitle gridTitle gridTitle"
    "services services services services"
    "description description description description"
    "contactQuote contactQuote contactQuote contactQuote";

    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    height: 50vh;
   
    
}   

/* Estilos del index */
section .description ol, li{ 
    color: #114e60;
/*     list-style-type: lower-greek;
 */}
.servicios::before{
    content: '\1F44D'; 
    margin-left: -20px; 
    margin-right: 10px;    
}

h3 a{
    text-decoration: none;
    color: inherit;
}

div{
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;    
}

/* Contenedor de cards  */
/* La doc de bootstrap dice que no son responsibe */
.contenedor{
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media screen and (max-width: 992px) {
    .card-text{
        visibility: hidden;
    }
    
    .contenedor {
        display: none;
      visibility: hidden;
      align-content: unset;

    }

    .contenedor2{
        visibility: visible;
        display: flex;
        flex-direction: row;
    }
    h1{
        font-size: 1.5em;
    }
    h2{
        font-size: 1em;
    }
	.contenedor2__secciones__titulo{
		margin-top: .4em;
        font-size: .75em;
        visibility: visible;
        width: 100%;
	}

	.contenedor2__secciones_subtitulo{
		margin-top: .4em;
        font-size: .75em;
        visibility: visible;
        width: 100%;

	}

    .contenedor2__secciones_texto{
        display:inherit;
        visibility: visible;
        color: black;
    }

    .employee{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
  }
  
  @media screen and (max-width: 600px) {
    .contenedor {
      visibility: hidden;
    }

     h1{
        font-size: 1.5em;
    }
    h2{
        font-size: 1em;
    }

    .contenedor2{
       align-content:flex-start ;
        visibility: visible;
  }
  
  }

  /* Divs para Mobile */

.divInfo{
    visibility: hidden;
    
}

.divInfo {
    visibility: hidden;
    padding-top: 14px;
    padding-bottom: 5px;
    background-color: white;
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    padding-left: 20px;
    padding-right: 20px;

}

.divInfo h4{
    padding-top: 14px;
    padding-bottom: 5px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;


}


.divWhoWeAre{
    display: flex;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: solid;
    background-color: #114e60;
    justify-content: space-around;
}

.employee{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90vw;
}


.employee img{
    height: auto;
    width: 80px;
}   
.employee img:hover{
    transform:scale(1.20);
}

/* Reel de galería */

#reel{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
}


/* Boton Sumate */
.callToAction{
    margin-top: 20px;
    margin-bottom: 20px;
}

.callToAction:hover{
    transform: scale(1.10);
}


/* Formulario de contacto */
.contactUs{
    display: flex;
    flex-direction: column;
    width: 20vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-size: large;
}


/* Footer */
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #325288;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    margin-right: 100px;
    margin-left: 100px;
    background: linear-gradient(to left,#5b86e5, #325288);
    
}

.nuestrasRedes{
    display: flex;
    flex-direction: row;
}

.linkARedes{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    justify-content: space-around;

}
footer img{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 20px;
    background-color: white;
}

.linkARedes__itemlist{
    display: inline;
    color: white;
    margin-top: 20px;

}

/* estoy en duda si sacar el decoration de todos los links */
/* por eso aun no uso el tag a{} */
footer ul li a{
    color: inherit;
    text-decoration: none;
}

.copyright{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    color: white;
    margin-right: 20px;
}


/* Blog */
.post{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 20px;

}

.divHijo{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
}


